<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-white">
            &copy;
            DailyPhoto 2023 - Time is in UTC: Coordinated Universal Time.
        </span>
    </div>
</footer>